@model SKOEC.Models.Treatment
@using Microsoft.AspNetCore.Http

@{
    if (Context.Session.GetString("farmName") != null)
    {
        ViewData["Title"] = $"Details of Treatment for Plot at \"{Context.Session.GetString("farmName")}\" ";
    }
    else
    {
        ViewData["Title"] = $"Treatment Details";
    }
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Treatment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moisture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moisture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Yield)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Yield)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TreatmentId">Edit</a> |
    <a asp-action="Index" asp-route-treatmentId="@Model.TreatmentId">Back to List</a>
</div>
