@model IEnumerable<SKOEC.Models.Fertilizer>

@{
    ViewData["Title"] = "List of All Fertilizers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FertilizerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oecproduct)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Liquid)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FertilizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oecproduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liquid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FertilizerName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FertilizerName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FertilizerName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
